.authorization-form {
    margin: auto;
    width: 80%;

    input, p {
        margin: 1% 0;
    }

    button {
        min-width: 20%;
        margin-top: 1%;
    }

    .auth-error-message {
        color: red;
        padding-bottom: 2%;
    }
}

.authorization-router {
    display: flex;
    align-items: center;
}